.me {
  height: 200px;
  box-shadow: 0 0 20px 5px rgb(19, 19, 58);
}

.main-border {
  box-shadow: 0 0 20px 10px rgb(185, 185, 185);
  background-color: rgb(240, 246, 255);
  transition: all 0.5s;
}
.project-card {
  box-shadow: 0 0 20px 10px rgba(185, 185, 185, 0.308);
}
